name: CI

on:
  push:

jobs:
  test:
    runs-on: nscloud-arm64

    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v23
      - uses: cachix/cachix-action@v12
        with:
          name: devenv
      - run: |
          sudo echo "sandbox = false" >> /etc/nix/nix.conf
      - run: nix profile install --accept-flake-config github:cachix/devenv/latest
      - run: devenv ci

